@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root{
  --mainColor: #89216b;
  --whiteColor: #ffffff;
  --titleColor: #555555;
  --boxColor: #333333;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  background: linear-gradient(to right, #da4453, var(--mainColor));
  font-weight: 400;
  min-height: 100vh;
  display: grid;
  place-content: center;
  overflow: hidden;
}

.login__container{
  position: relative;
  width: 35rem;
  height: 50rem;
}



.container__form{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--whiteColor);
  border-radius: .5rem;
  box-shadow: 0 0 1rem 0 rgba(0 0 0 / .2);
}

.container__form h2 {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--titleColor);
}

.input__wrapper {
  position: relative;
  width: 31rem;
  margin: 3rem 0;
}

.input__wrapper i{
  position: absolute;
  color: #ff7b8877;
  top: 50%;
  transform: translateY(-50%);
  text-transform: capitalize;
  transform: all .5s ease;
}
.input__wrapper i:not(.eye-icon){
  left: 0.9rem;
  pointer-events: none;
}
.input__wrapper i.eye-icon{
  font-size:  2rem;
  cursor: pointer;
  right: 0.9rem;
  display: none;
}

.input__wrapper input{
  width: 100%;
  height: 4rem;
  padding: 0 4rem;
  border-radius: .5rem;
  border: .1rem solid #ff7b8877;
  outline: none;
  font-size: 1.6rem;
  color: var(--boxColor);
}

.input__field:focus{
  border-color: #da4453;
} 

.input__field:focus ~ i{
  color: #da4453;
} 
.input__field:focus ~ i:not(.eye-icon){
  color: #da4453;
}
.input__field:valid ~ i.eye-icon{
  display: block;
}
.forgot__pass__link{
  margin: -1.5rem 0 1.5rem;
}
.forgot__pass__link a{
  color: var(--boxColor);
  text-decoration: none;
  font-size: 1.4rem;
  text-transform: capitalize;
  transform: all .5s ease;
}
.forgot__pass__link a:hover{
  color: var(--mainColor);
}
.login__button{
  background: linear-gradient(to right, #da4453, var(--mainColor));
  color: var(--whiteColor);
  text-transform: capitalize;
  width: 100%;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  box-shadow: 0 .2rem 1rem rgba(0 0 0 / .4);
}
.signup__text{
  text-align: center;
  font-size: 1.4rem;
  color: var(--boxColor);
  margin: 2.5rem 0;
}
.signup__text a{
  text-transform: capitalize;
  color: var(--mainColor);
  text-decoration: none;
  font-weight: 600;
  transition: all .5s ease;
}
.signin__text{
  text-align: center;
  font-size: 1.4rem;
  color: var(--boxColor);
  margin: 2.5rem 0;
}
.signin__text a{
  text-transform: capitalize;
  color: var(--mainColor);
  text-decoration: none;
  font-weight: 600;
  transition: all .5s ease;
}
.signup__text a:hover{
  color: #da4453;
}

.container__signup{
  transform: rotate(7deg);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--whiteColor);
  border-radius: .5rem;
  box-shadow: 0 0 1rem 0 rgba(0 0 0 / .2);
}

.login__container.animated-signup .container__form{
  animation: signin-flip 1s ease-in-out forwards;
}

@keyframes signin-flip{
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-50rem) scale(1.1);
  }

  100% {
    transform: translateX(0) rotate(7deg) scale(1);
  }

}

.login__container.animated-signup .container__signup{
  animation: rotatecard .7s ease-in-out forwards;
}

@keyframes rotatecard{
  0% {
    transform: rotate(7deg);
  }

  100%{
    transform: rotate(0);
    z-index: 1;
  }

}

.login__container.animated-signin .container__signup{
  animation:  signup-flip 1s ease-in-out forwards;
}
@keyframes signup-flip {
  0% {
    transform: translateX(0);
    z-index: 1;
  }

  50% {
    transform: translateX(50rem) scale(1.1);
  }

  100% {
    transform: translateX(0) rotate(7deg) scale(1);
  }
}

.login__container.animated-signin .container__form{
  transform: rotate(7deg);
  animation: rotatecard .7s ease-in-out forwards;
  animation-delay: .3s;
}

@keyframes rotatecard {
  0% {
    transform: rotate(7deg);
  }

  100%{
    transform: rotate(0);
    z-index: 1;
  }
}