body.mainPageBody {
    scrollbar-color: var(--contrastColor) transparent;
    background: linear-gradient(to bottom, #ffffff, #39fded27) !important;
    display: flex;
    flex-direction: column;
}

body.mainPageBody html {
    font-size: 0;
}
.class__header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--whiteColor);
    box-shadow: 0 0 1rem 0 rgba(0 0 0 / .2);
    padding: 0 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.title__img{
    width: 7rem;
    filter: invert(46%) sepia(88%) saturate(996%) hue-rotate(158deg) brightness(90%) contrast(101%);
}
.header__menu ul{
    list-style: none;
}
.header__menu ul li{
    position: relative;
    float: left;
}

.header__menu ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1.2rem;
    display: block;
    color: var(--boxColor);
}

.header__menu ul li a:hover{
    background: var(--boxColor);
    color: var(--whiteColor);
}
.btn__logout{
    margin: 0 0 1rem 1.2rem;
    padding: 1.2rem;
    background-color: #af4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn__logout:hover{
    background-color:  #a04545;
}
.btn__logout:active{
    background-color: #8e3e3e;
}

#menu-bar{
    display: none;
}
.class__header label{
    color: var(--boxColor);
    cursor: pointer;
    display: none;
}
.class__header label img{
    width: 1.7rem;
}

@media(max-width:62rem){
    .class__header label{
        display: initial;
    }
    .header__menu{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #ffffff;
        box-shadow: 0 0 1rem 0 rgba(0 0 0 / .2);
        display: none;
    }
    .header__menu ul li{
        width: 100%;
    }
    #menu-bar:checked ~ .header__menu{
        display: initial;
    }
}

.welcome {
    align-items: center;
    text-align: center;
    
}
.section__container {
    display: grid;
    grid-auto-flow: column;
    gap: 0.9rem;
    padding-left: 3vw;
    padding-right: 3vw;
    overflow-x: auto;
    scroll-behavior: smooth;
    height: 10.8rem;
}
.container__article {
    margin-top: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 8rem;
    border-radius: 1.3rem;
    box-shadow: 3px 3px 3px 3px rgba(0 0 0 / .2);
    cursor: pointer;
    transition: 0.3s;
}
.container__article:hover{
    width: 7rem;
    height: 8.4rem;
    
}

.container__article:hover img{
    filter: invert(46%) sepia(88%) saturate(996%) hue-rotate(158deg) brightness(90%) contrast(101%);
}

